@font-face {
  font-family: ShipporiAntique;
  src: url("./assets/ShipporiAntique-Regular.ttf");
}
*{
  padding: 0px;
  margin: 0px;
  --border-col: #566780;
  border: 0px;
}
body, html{
  height: 100%;
  width: 100%;
  display: inline-flex;
  background-color: var(--border-col);
  font-family: ShipporiAntique;
  border: 0%;
  margin: 0%;
  padding: 0%;
}
img{
  width: 600px;
  height: 100;
}
.layout{
  display: flex;
  height: fit-content;
  width: 100%;

}
.sign-up-body{
  width: 100%;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin: 0px;
}
header{
  flex: 1 1 auto;
  padding-top: 40px;
  border-top: 0px;
  margin-top: 0px;
  font-size: 40px;
  color: white;
  margin: auto;
  padding-bottom: 40px;
  margin-left: auto;
}
h4{
  padding-left: 60px;
}
.copy-right{
  position: relative;
  right: 400px;
  top: 510px;
  color: white;
  font-size: 10px;

}
.user-form{
  flex: 3 1 auto;
  background-color: #24344A;  
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: rgba(37, 36, 36, 0.548) 4px 5px 6px 5px;
}
.form-input-col1{
  color: white;
  margin-left: 200px;
  display: flex;
  padding-right: 50px;
  flex-direction: column;
}
.form-input-col2{
  color: white;
  margin-left: 150px;
  display: flex;
  padding-right: 50px;
  flex-direction: column;
}
.input-pair, .passwords{
  display: flex;
  flex-direction: column;
}
.input-pair > label{
  margin-bottom: 5px;
  margin-top: 5px;
}
.input-pair > input, .passwords > input{
  border-radius: 5px;
  padding: 10px;
}
.error-message{
  display: none;
}
.passwords > input:invalid{
  border: red solid;
  border-width: 0.1mm;
}
.passwords > input:invalid + .error-message{
    display: block;
    color: red;
    font-size: 10px;
}
.p-word-message{
  font-size: 10px;
}

.input-pair > input:focus{
  box-shadow: 2px 2px 4px 1px rgba(151, 151, 151, 0.548);
}
.foot-section{
  margin-left: 220px;
  margin-top: 30px;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
button{
  color: white;
  background-color: #24344A;
  padding: 10px;
  border-radius: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
}
a{
  text-decoration: none;
  color: #112138;
  font-weight: 700;
}
